extends layout

block content
  h1 #{title}

  for city in cities
     
     h4 #{city.name}
      img(src='http://openweathermap.org/img/w/'+city.icon+'.png')
     p #{city.description}
     p temperatura actual: #{city.temperature}°
     p humedad: #{city.humidity}%
     p presion atmosferica: #{city.pressure}  hpa
     p velocidad viento: #{city.wind_speed} km/hr


#body


